name: asan

on:
  workflow_dispatch:

permissions: write-all

jobs:
  build-asan:
    name: asan aarch64-apple-darwin
    runs-on: macos-15
    timeout-minutes: 180
    env:
      V8_FROM_SOURCE: true
      RUSTFLAGS: -D warnings

    steps:
      - name: Configure git
        run: git config --global core.symlinks true

      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 10
          submodules: recursive

      - name: Install rust
        uses: dsherret/rust-toolchain-file@v1

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11.x

      - name: Write git_submodule_status.txt
        run: git submodule status --recursive > git_submodule_status.txt

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |-
            target/sccache
            target/*/.*
            target/*/build
            target/*/deps
          key: cargo-aarch64-apple-darwin-asan-${{ hashFiles('Cargo.lock', 'build.rs', 'git_submodule_status.txt') }}
          restore-keys: cargo-aarch64-apple-darwin-asan-

      - name: Install and start sccache
        shell: pwsh
        env:
          SCCACHE_DIR: ${{ github.workspace }}/target/sccache
          SCCACHE_CACHE_SIZE: 256M
          SCCACHE_IDLE_TIMEOUT: 0
        run: |
          $version = "v0.8.2"
          $platform = "aarch64-apple-darwin"
          $basename = "sccache-$version-$platform"
          $url = "https://github.com/mozilla/sccache/releases/download/$version/$basename.tar.gz"
          cd ~
          curl -LO $url
          tar -xzvf "$basename.tar.gz"
          . $basename/sccache --start-server
          echo "$(pwd)/$basename" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install Rust (nightly)
        uses: dtolnay/rust-toolchain@nightly

      - name: Test (ASAN)
        env:
          SCCACHE_IDLE_TIMEOUT: 0
        run: |
          rustup component add rust-src --toolchain nightly-aarch64-apple-darwin
          curl -O http://commondatastorage.googleapis.com/chromium-browser-clang-staging/Mac/dsymutil-llvmorg-17-init-19076-g5533fc10-1.tgz
          tar -C tools/clang/dsymutil/ -xvzf dsymutil-llvmorg-17-init-19076-g5533fc10-1.tgz
          V8_FROM_SOURCE=true RUSTFLAGS="-C opt-level=1 -Zsanitizer=address" cargo +nightly -Z build-std nextest run --lib --bins --tests -v --cargo-verbose --cargo-verbose --target aarch64-apple-darwin
